/* Custom styles for jQuery Lightbox */

body {
	background: #000000;
	font-family: 'Karla', sans-serif;
	font-size: 12px;
	color: #f1f2f3;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	font-size: 3rem;
}

h4 {
	font-size: 1.25rem;
}

/* Header */

header .navbar {
	background: #111111;
}

.navbar-toggler:before {
	content: 'Menu';
	text-transform: uppercase;
	color: #f1f2f3;
	font-size: 12px;
	position: absolute;
	left: -35px;
}
.navbar-toggler {
	padding: 10px;
	position: relative;
}

.navbar-toggler:focus {
	outline: none;
	background: transparent !important;
}

.navbar-toggler .icon-bar {
	background-color: #DC8700;
	transform: rotate(0deg) translate(0px, 0px);
	transition: ease all .2s;
	display: block;
	width: 25px;
	height: 1px;
	border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
	margin-top: 9px;
}

.navbar-toggler:not(.collapsed) .icon-bar+.icon-bar {
	margin-top: 11px;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
	transform: rotate(45deg) translate(5px, 4px);
	transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
	transform: rotate(-45deg) translate(4px, -4px);
	transition: ease all .2s;
}

.main-menu li a {
	font-size: 1.5rem;
	font-weight: 700;
	color: #FFFFFF;
	text-decoration: none;
}

.main-menu li a:hover,
.main-menu li a:focus {
	color: #DC8700;
}


.page-header {
	background: #111111;
	padding: 2rem 0;
}

.page-header .title:before {
	content: "//";
	font-style: italic;
	margin-right: 6px;
	color: #DC8700;
}

.page-header p {
	max-width: 500px;
}

/* Gallery */

.image-wrapper {
	position: relative;
	overflow: hidden;
	max-height: 400px
}

.image-wrapper .image {
	display: flex;
	height: 400px;
	align-items: center;
	justify-content: center;
}

.image-wrapper img {
  display: block;
  height: 100%;
}

.image-wrapper .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0 30px 15px;
	color: #ffffff; 
}
